/*  MAP Style */
#map svg{
  width: 100%;
  position:fixed; 
  top:0; 
  bottom:0; 
  left:0; 
  right:0
}

.country-details {
  position: absolute;
  right: 0;
  margin:1em;
  width:360px;
  background:#fff;
  border-radius:5px;
  box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
  float:left;
  overflow:hidden;
  transform-style: preserve-3d;
}

.europe-details {
  position: absolute;
  left: 0;
  margin:1em;
  width:340px;
  background:#fff;
  border-radius:5px;
  box-shadow:1px 2px 3px 1px rgba(151, 171, 187, 0.7);
  float:left;
  overflow:hidden;
  transform-style: preserve-3d;
}

.europe-details .header{
  border-bottom:1px solid #ebeff2;
  padding:19px 0;
  text-align:center;
  color:#59687f;
  font-size:600;
  font-size:19px; 
  position:relative;
}

 .close-button{
  width: 22px;
  height: 22px;
  position: absolute;
  top: 23px;
  right: 19px;
  fill:#d4d9dd;
}

.country-details .header{
  border-bottom:1px solid #ebeff2;
  padding:19px 0;
  text-align:center;
  color:#59687f;
  font-size:600;
  font-size:19px; 
  position:relative;
}

.dates{
  border:1px solid #ebeff2;
  border-radius:5px;
  padding:20px 0px;
  margin:20px 20px 0;
  font-size:16px;
  color:#5aadef;
  font-weight:600;  
  overflow:auto;
}

.dates div{
  float:left;
  width:100%;
  text-align:center;
  position:relative;
}
.dates strong, .stats strong{
  display:block;
  color:#adb8c2;
  font-size:11px;
  font-weight:700;
}

.dates span{
  width:1px;
  height:40px;
  position:relative;
  align-content: center; 
  background:#ebeff2;
}

#infosCountryChart {
  width: 200px;
  height: 200px;
}

.stats{
  border-top:1px solid #ebeff2;
  background:#f7f8fa;
  overflow:auto;
  padding:15px 0;
  font-size:16px;
  color:#59687f;
  font-weight:600;  
    margin-top: 36px;
  border-radius: 0 0 5px 5px;
}
.stats div{
  border-right:1px solid #ebeff2;
  width:119px;
  float:left;
  text-align:center
}
.stats div:nth-of-type(3){border:none;}


svg.icon {
  pointer-events: none;
}

.wrapper {
  display: grid;
  justify-items:center;
  position: absolute;
  bottom: 1em;
  width: 100%;
}

.dateSliderContainer {
  column-gap: 24px;
  display: grid;
  grid-template-columns: max-content auto;
  width: 50%;
}

i.fa-play{
    font-size: 20px;
    color: #ed5565;
  }

i.fa-pause{
    font-size: 20px;
    color: #ed5565;
  }


#playButton {
  margin-right: 1em;
  padding-top: 10px;
}